/* Reset CSS */

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



html, body {

    height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;

}



a {

    text-decoration: none;

    color: inherit;

}



ul, ol {

    list-style: none;

}



table {

    border-collapse: collapse;

    border-spacing: 0;

}



button {

    border: none;

    background: none;

    cursor: pointer;

}



img {

    max-width: 100%;

    height: auto;

}
.section-featured-article, .section-css-article, .section-js-article, .section-react-article {
    margin-bottom: 80px;
}
.section-subscribe{
    /*margin: 58px 0;*/
}