@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.w-1250{
    width: 1250px;
    margin: 0 auto;
    font-family: "Plus Jakarta Sans", sans-serif;
}
/*------------------header-------------------*/
header{
    width: 1250px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}