@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/*------------------header-------------------*/
.header_w-1250{
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #f0f0f0;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
    position: fixed;
    top: 0;
    z-index: 1100;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header nav ul a{
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
header nav ul a svg:nth-child(1){
    margin-right: 10px;
}
header nav ul button{
    color: #FFFFFE;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
}
/*------------------section-about-Dasteen-------------*/
.section-about_w-1250{
    width: 1250px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-Dasteen{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-Dasteen h1{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
}
.about-Dasteen div:nth-child(2){
    display: flex;
    gap: 12px;
    margin: 30px 0 30px 0;
}
.about-Dasteen p{
    width: 652px;
    color: #9A9494;
    font-size: 20px;
    font-weight: 400;
}
.about-Dasteen form{
    display: flex;
    gap: 20px;
}
.about-Dasteen form input{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFE;
    color:  #C0C0C0;
    font-size: 20px;
    font-weight: 400;
    border: none;
}
.about-Dasteen form button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color:  #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
/*------------*/