@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/*------------------header-------------------*/
.header_w-1250{
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
    position: fixed;
    top: 0;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header nav ul a{
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
header nav ul a svg:nth-child(1){
    margin-right: 10px;
}
header nav ul button{
    color: #FFFFFE;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
}
/*------------------section-about-Dasteen-------------*/
.section-about_w-1250{
    width: 1250px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-Dasteen{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFF0F3;
}
.about-Dasteen h1{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
}
.about-Dasteen div:nth-child(2){
    display: flex;
    gap: 12px;
    margin: 30px 0 30px 0;
}
.about-Dasteen p{
    width: 652px;
    color: #9A9494;
    font-size: 20px;
    font-weight: 400;
}
.about-Dasteen form{
    display: flex;
    gap: 20px;
}
.about-Dasteen form input{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFE;
    color:  #C0C0C0;
    font-size: 20px;
    font-weight: 400;
    border: none;
}
.about-Dasteen form button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color:  #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
/*------------section-categories------------------*/
.categories{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #EFF0F3;
}
.section-categories_w-1250{
    width: 1250px;
    height: 100%;
}
.section-categories_w-1250 .category{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-categories_w-1250 .category h4{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-categories_w-1250 .category h5{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-categories_w-1250 .swing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.section-categories_w-1250 div .arrow{
    margin-top: 8px;
}
.section-categories_w-1250 .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 148px 0;
}
.section-categories_w-1250 .card{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
    transition: 1s;
}
.section-categories_w-1250 .card p{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-categories_w-1250 .card div:nth-child(1){
    width: 60px;
    height: 60px;
    border-radius: 7.458px;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-categories_w-1250 .card:hover{
    background: Blue;
    color: #FFFFFE;
    transition: 2s;
}
.section-categories_w-1250 .card:hover p {
    color: #FFFFFE;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
/*------------------section-featured-article---------------------------------*/
.section-featured-article{
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFE;

}
.section-featured-article_w-1250{
    width: 1250px;
    height: 100%;
    margin: 0 auto;
}
.section-featured-article_w-1250 .section-featured-article_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 30px 0;
}
.section-featured-article_content h4{
    color:  #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-featured-article_content h5{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-featured-article_content .swing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.section-featured-article_content div .arrow{
    margin-top: 8px;
}
.section-featured-article_w-1250 .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 80px;
}
.section-featured-article_w-1250 .card{
    width: 300px;
    height: 425px;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.section-featured-article_w-1250 .card div:nth-child(1) h4{
    margin: 25px 0 80px 0;
    width: 260px;
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-featured-article_w-1250 .card div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.section-featured-article_w-1250 .card .name-date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.2px;
    margin-left: 15px;
}
.section-featured-article_w-1250 .card .name-date h5{
    width: 73px;
    height: 21px;
    color: #2B2C34;
    font-size: 16px;
    font-weight: 600;
}
.section-featured-article_w-1250 .card .name-date p{
    width: 184px;
    height: 21px;
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.section-featured-article_w-1250 .card div:nth-child(1) h4{
    margin-bottom: 55px;
}
