@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/*------------------header-------------------*/
header{
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
    position: fixed;
    top: 0;
}
.header_w-1250{
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header nav ul a{
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
header nav ul a svg:nth-child(1){
    margin-right: 10px;
}
header nav ul button{
    color: #FFFFFE;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
}
/*------------------section-about-Dasteen-------------*/
.about-Dasteen{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFF0F3;
}
.section-about_w-1250{
    width: 1250px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-Dasteen h1{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
}
.about-Dasteen div:nth-child(2){
    display: flex;
    gap: 12px;
    margin: 30px 0 30px 0;
}
.about-Dasteen p{
    width: 652px;
    color: #9A9494;
    font-size: 20px;
    font-weight: 400;
}
.about-Dasteen form{
    display: flex;
    gap: 20px;
}
.about-Dasteen form input{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFE;
    color:  #C0C0C0;
    font-size: 20px;
    font-weight: 400;
    border: none;
}
.about-Dasteen form button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color:  #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
/*------------section-categories------------------*/
.categories{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #EFF0F3;
}
.section-categories_w-1250{
    width: 1250px;
    height: 100%;
}
.section-categories_w-1250 .category{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-categories_w-1250 .category h4{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-categories_w-1250 .category h5{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-categories_w-1250 .swing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.section-categories_w-1250 div .arrow{
    margin-top: 8px;
    cursor: pointer;
}
.section-categories_w-1250 .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 148px 0;
}
.section-categories_w-1250 .card{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
    transition: 1s;
}
.section-categories_w-1250 .card p{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-categories_w-1250 .card div:nth-child(1){
    width: 60px;
    height: 60px;
    border-radius: 7.458px;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-categories_w-1250 .card:hover{
    background: Blue;
    color: #FFFFFE;
    transition: 2s;
    cursor: pointer;
}
.section-categories_w-1250 .card:hover p {
    color: #FFFFFE;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
/*------------------section-featured-article---------------------------------*/
.section-featured-article{
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFE;
}
.section-featured-article_w-1250{
    width: 1250px;
    height: 100%;
    margin: 0 auto;
}
.section-featured-article_w-1250 .section-featured-article_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 30px 0;
}
.section-featured-article_content h4{
    color:  #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-featured-article_content h5{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-featured-article_content .swing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.section-featured-article_content div .arrow{
    margin-top: 6px;
    cursor: pointer;
}
.section-featured-article_w-1250 .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.section-featured-article_w-1250 .card{
    width: 300px;
    height: 425px;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    cursor: pointer;
}
.section-featured-article_w-1250 .card div:nth-child(1) h4{
    width: 260px;
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-featured-article_w-1250 .card div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.section-featured-article_w-1250 .card .name-date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.2px;
    margin-left: 15px;
}
.section-featured-article_w-1250 .card .name-date h5{
    width: 73px;
    height: 21px;
    color: #2B2C34;
    font-size: 16px;
    font-weight: 600;
}
.section-featured-article_w-1250 .card .name-date p{
    width: 184px;
    height: 21px;
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.section-featured-article_w-1250 .cards div:nth-child(1) div:nth-child(1) h4{
    margin: 25px 0 80px 0;
}
.section-featured-article_w-1250 .cards div:nth-child(2) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
.section-featured-article_w-1250 .cards div:nth-child(3) div:nth-child(1) h4{
    margin: 25px 0 30px 0;
}
.section-featured-article_w-1250 .cards div:nth-child(4) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
/*-------------------section-css-article--------------------*/
.section-css-article{
    display: flex;
    width: 1252px;
    height: 490px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
.section-css-article .section-css-article_w-1250{
    width: 1250px;
    height: 100%;
}
.section-css-article .section-css-article_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 30px 0;
}
.section-css-article .section-css-article_content h4{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-css-article .section-css-article_content h5{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-css-article .swing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.section-css-article  div .arrow{
    margin-top: 6px;
    cursor: pointer;
}
.section-css-article_w-1250 .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.section-css-article_w-1250 .card{
    width: 300px;
    height: 425px;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    cursor: pointer;
}
.section-css-article_w-1250 .card div:nth-child(1) h4{
    width: 260px;
    color: #0D0D0D;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-css-article_w-1250 .cards div:nth-child(1) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
.section-css-article_w-1250 .cards div:nth-child(2) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
.section-css-article_w-1250 .cards div:nth-child(3) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
.section-css-article_w-1250 .cards div:nth-child(4) div:nth-child(1) h4{
    margin: 25px 0 30px 0;
}
.section-css-article_w-1250 .card div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.section-css-article_w-1250 .card .name-date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.2px;
    margin-left: 15px;
}
.section-css-article_w-1250 .card .name-date h5{
    width: 73px;
    height: 21px;
    color: #2B2C34;
    font-size: 16px;
    font-weight: 600;
}
.section-css-article_w-1250 .card .name-date p{
    width: 184px;
    height: 21px;
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
/*-------------------------section-js-article----------------------*/
.section-js-article{
    display: flex;
    width: 1252px;
    height: 490px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
.section-js-article .section-js-article_w-1250{
    width: 1250px;
    height: 100%;
}
.section-js-article .section-js-article_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 30px 0;
}
.section-js-article .section-js-article_content h4{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-js-article .section-js-article_content h5{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-js-article .swing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.section-js-article  div .arrow{
    margin-top: 6px;
    cursor: pointer;
}
.section-js-article_w-1250 .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.section-js-article_w-1250 .card{
    width: 300px;
    height: 425px;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    cursor: pointer;
}
.section-js-article_w-1250 .card div:nth-child(1) h4{
    width: 260px;
    color: #0D0D0D;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-js-article_w-1250 .cards div:nth-child(1) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
.section-js-article_w-1250 .cards div:nth-child(2) div:nth-child(1) h4{
    margin: 25px 0 80px 0;
}
.section-js-article_w-1250 .cards div:nth-child(3) div:nth-child(1) h4{
    margin: 25px 0 30px 0;
}
.section-js-article_w-1250 .cards div:nth-child(4) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
.section-js-article_w-1250 .card div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.section-js-article_w-1250 .card .name-date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.2px;
    margin-left: 15px;
}
.section-js-article_w-1250 .card .name-date h5{
    width: 73px;
    height: 21px;
    color: #2B2C34;
    font-size: 16px;
    font-weight: 600;
}
.section-js-article_w-1250 .card .name-date p{
    width: 184px;
    height: 21px;
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
/*-------------------------section-react-article----------------------*/
.section-react-article{
    display: flex;
    width: 1252px;
    height: 490px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
.section-react-article .section-react-article_w-1250{
    width: 1250px;
    height: 100%;
}
.section-react-article .section-react-article_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 30px 0;
}
.section-react-article .section-react-article_content h4{
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-react-article .section-react-article_content h5{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-react-article .swing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.section-react-article  div .arrow{
    margin-top: 6px;
    cursor: pointer;
}
.section-react-article_w-1250 .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.section-react-article_w-1250 .card{
    width: 300px;
    height: 425px;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    cursor: pointer;
}
.section-react-article_w-1250 .card div:nth-child(1) h4{
    width: 260px;
    color: #0D0D0D;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-react-article_w-1250 .cards div:nth-child(1) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
.section-react-article_w-1250 .cards div:nth-child(2) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
.section-react-article_w-1250 .cards div:nth-child(3) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
.section-react-article_w-1250 .cards div:nth-child(4) div:nth-child(1) h4{
    margin: 25px 0 55px 0;
}
.section-react-article_w-1250 .card div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.section-react-article_w-1250 .card .name-date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.2px;
    margin-left: 15px;
}
.section-react-article_w-1250 .card .name-date h5{
    width: 73px;
    height: 21px;
    color: #2B2C34;
    font-size: 16px;
    font-weight: 600;
}
.section-react-article_w-1250 .card .name-date p{
    width: 184px;
    height: 21px;
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
/*-------button-------*/
.button-bottom_w-1250{
    display: flex;
    width: 1250px;
    height: 100%;
    padding: 80px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
main button{
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
/*!*-------------------section-subscribe-----------*-/*/
.section-subscribe{
    display: flex;
    width: 100%;
    height: 490px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #EFF0F3;
}
.section-subscribe_content_w-1250{
    width: 1250px;
    height: 100%;
    padding-top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-subscribe_content_w-1250 div{
    width: 130px;
    height: 130px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-subscribe_content_w-1250 h2{
    color: #2B2C34;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 30px 0 10px 0;
}
.section-subscribe_content_w-1250 p{
    width: 696px;
    color: #C0C0C0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.section-subscribe_content_w-1250 form{
    display: flex;
    gap: 20px;
    padding-bottom: 58px;
}
.section-subscribe_content_w-1250 form input{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFE;
    border: none;
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 400;
}
.section-subscribe_content_w-1250 form button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
/*--------------footer-------------------*/
footer{
    width: 100%;
    margin: 0 auto;
    background: #E4E5E9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content{
    width: 1250px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.footer-content .footer-links a{
    color: #2B2C34;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer-content h3{
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.footer-content div:nth-child(1){
    margin-right: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}
.footer-content div:nth-child(1) p{
    width: 284px;
    color: #2B2C34;
    font-size: 18px;
    font-weight: 400;
}
.footer-content .social-icons a{
    display: inline-block;
    margin-right: 25px;
}
.footer-content div:nth-child(2){
    margin-right: 95px;
}
.footer-content div:nth-child(3){
    margin-right: 95px;
}
.footer-content div:nth-child(4){
    margin-right: 95px;
}
.footer-bottom{
    width: 1250px;
    margin-top: 50px;
}
.footer-bottom hr{
    width: 100%;
    height: 1px;
    background: #C0C0C0;
}
.footer-bottom p{
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
    margin: 26px 0;
    text-align: left;
}

